* {
  padding: 0;
  margin: 0;
}

body {
  background: #f9f9f9;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  min-width: 34.25rem;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 2.5rem;
  box-sizing: border-box;
  background: #fff;
}

header img {
  cursor: pointer;
}

header h1 {
  line-height: 2.25rem;
  font-weight: 400;
}

header span {
  font-size: 1.5rem;
  color: #999999;
  cursor: pointer;
}

main {
  padding: 0 1.25rem;
  margin-bottom: 1.875rem;
}

main ul li {
  margin-top: 0.625rem;
  padding: 2.1875rem 3.125rem;
  min-width: 31.25rem;
  box-sizing: border-box;
  background: #fff;
  border-radius: 1.25rem;
}

main ul li .text {
  width: 100%;
}

main ul li .text p {
  font-size: 1.5rem;
  line-height: 3.5rem;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
}
