footer {
  height: 3.0625rem;
  background-color: #fff;
}

footer ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

footer ul li {
  width: 20%;
  text-align: center;
}

footer ul li a {
  display: flex;
  flex-direction: column;
}

footer ul li a i.iconfont {
  font-size: 1.25rem;
}

footer ul li.active a {
  color: #ff9327;
}

footer .joinCart {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  padding: 0;
  background-color: #fff;
  z-index: 9999999999999;
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
}

footer .joinCart .close {
  text-align: right;
}

footer .joinCart article {
  display: flex;
  padding-bottom: 1.25rem;
  margin-bottom: 24px;
  border-bottom: 1px solid #dadada;
}

footer .joinCart article aside {
  display: flex;
  flex-direction: column;
}

footer .joinCart article aside img {
  width: 100%;
}

footer .joinCart article aside span {
  display: inline-block;
  font-size: 0.8125rem;
  margin-bottom: 0.625rem;
}

footer .joinCart article aside span.money {
  color: #ff3333;
  font-size: 1.125rem;
}

footer .joinCart article aside small {
  font-size: 0.75rem;
}

footer .joinCart article aside small.sum {
  color: #999;
}

footer .joinCart article aside:nth-child(1) {
  width: 40%;
}

footer .joinCart div.size {
  padding-bottom: 1.25rem;
}

footer .joinCart div.size p {
  font-size: 0.875rem;
  color: #333;
  margin-bottom: 1rem;
}

footer .joinCart div.size div.select span {
  display: inline-block;
  width: 5rem;
  line-height: 1.875rem;
  font-size: 0.875rem;
  border: 1px solid #f00;
  color: #f00;
  text-align: center;
  border-radius: 0.3125rem;
  margin-right: 1.25rem;
}

footer .joinCart div.size div.select span.disabled {
  background-color: #ddd;
  border-color: #ddd;
  color: #666;
}

footer .joinCart div.size div.select span:last-child {
  margin-right: 0;
}

footer .joinCart div.number {
  line-height: 3.375rem;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: space-between;
}

footer .joinCart div.number span {
  display: flex;
  align-items: center;
}

footer .joinCart div.number span:nth-child(2) {
  display: inline-block;
  width: 4.0625rem;
  text-align: center;
}

footer .joinCart div.number span small {
  display: inline-block;
  width: 1.25rem;
  height: 1.0625rem;
  border: 1px solid #e3e3e3;
  text-align: center;
}

footer .joinCart div.number span small:nth-child(1) {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  line-height: .7rem;
}

footer .joinCart div.number span small:nth-child(3) {
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  line-height: .9rem;
}

footer .joinCart div.number span su {
  display: inline-block;
  font-size: 0.75rem;
  color: #9e9e9e;
  padding: 0 0.25rem;
}

footer .joinCart button {
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  font-size: 1.125rem;
  background-color: #ff9326;
}

footer .joinCart button a {
  color: #fff;
}
