header {
  padding: 0.8125rem 0.625rem;
  height: 4rem;
  background-color: rgb(255, 147, 39);

  .goA{
    display: block;
  }

  h2{
    text-align: center;
    font-size: 1.125rem;
    padding-top: 0.625rem ;
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .search {
      position: relative;
      width: 88%;
      a.goSearch-2{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
      }
      i {
        position: absolute;
        left: 0.625rem;
        font-size: 1.25rem;
        top: calc((100% - 1.5rem) / 2);
      }

      input {
        width: 100%;
        height: 100%;
        text-indent: 2.25rem ;
        border-radius: 0.3125rem;
      }
    }

    .news {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: #fff;
        font-size: 2rem;
      }
    }
  }
}