* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
    height: 1.28rem;
}

.title {

	background: #ff9326;
	height: 0.32rem;
}

.header-bottom {
	height: 0.96rem;
	display: flex;
	justify-content: space-around;
    align-items: center;
    background:#ff9326;
}

header>p {
	display: flex;
	align-items: center;
}
.zjt{
	font-size: 0.4rem;
}
.ggmm{
	font-size: 0.36rem;
	font-weight: 700;
}
.content{
	width: 100%;
    height: 12.06rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo{
    width: 100%;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-center{
    text-align: center;

}
.logo-center p{
    font-weight: 600;
}
.logo-center>img{
    width: 1.2rem;
    height: 1.2rem;
}
.form{
    height: 4.1rem;
    width: 7.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.accounts,.password,.confirmPassword{
    width: 6rem;
    height: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border:1px solid #dadada;
    border-radius: 0.1rem;
}
.accounts>form,.password>form,.confirmPassword>form{
    font-size:0.28rem ;
}

.accounts>form>span,.password>form>span,.confirmPassword>form>span{
    margin:0 0.2rem
}
.accounts>form>input,.password>form>input,.confirmPassword>form>input{
    width: 2.66rem;
    height: 0.43rem;
    border:none;
    outline: none;
    color:#dadada;
    font-size:0.28rem ;
}

.verificationCode{
    width: 6rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
    border:1px solid #dadada;
    border-radius: 0.1rem;
}
.verificationCode>form{
    display: flex;
    border-radius: 0.1rem;
    font-size:0.28rem ;
    align-items: center;
}
.verificationCode>form>input{
    width: 4rem;
    height: 0.43rem;
    color:#dadada;
    font-size:0.28rem ;
    border:none;
    outline: none;
    float: left;
    margin-left: 0.2rem;
    line-height: 0.76rem;
}
.captcha,.num{
    font-size:0.28rem;
    color:#ff9326;
    float:right;
    line-height: 0.76rem;
}
.modification{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 0.8rem;
    background:#ff9326;
    margin:0.6rem auto 0 auto;
    outline:none;
    border:none;
    font-size: 0.28rem;
    font-weight: 600;
    cursor: pointer;
}
/* 弹框 */
.modifySuccessfully{
    width:5rem;
    height:3.5rem;
    border-radius: 0.2rem;
	position: fixed;
    top:4.92rem;
	left: 1.25rem;
    background:pink;
    display: none;
}
.modifySuccessfullys{
    display: block;
}
.successfully{
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border:0.02rem solid #04be02;
    color:#04be02;
    display: flex;
    justify-content: center;
    align-items: center;
}
.successfully>i{
    font-size: 0.28rem;
}
.cg{
    margin-top: 0.19rem;
}
.tips{
	height: 2.48rem;
	width: 5rem;
	border-radius: 0.2rem 0.2rem 0 0;
	border-bottom: 0.01rem solid #80e0e0e0;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    flex-wrap: wrap;
    float: left;
}
.tips>p{
	font-size:0.28rem;
	color:#000000;
}
.option_one{
	width: 2.49rem;
	height: 1rem;
	border-bottom: none;
	border-left: none;
	border-top: none;
	border-right: 0.01rem solid #80e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:0.28rem;
    color:#ff9326;
    background:pink;
    border-radius:0 0 0 0.2rem;
    outline: none;
    cursor: pointer;
    float: right;
}
.option_two{
	width: 2.5rem;
	height: 1rem;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:0.28rem;
    color:#999999;
    background:pink;
    border-radius:0 0 0.2rem 0;
    outline: none;
    cursor: pointer;
}