body {
	margin: 0;
	padding: 0;
	width: 7.5rem;

}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {}

p {
	font-size: 0.24rem;
}
@media screen and (min-width:750px){
	html{
		font-size: 100px !important;
	}
}