* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: #f9f9f9;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  height: 128px;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 0px rgba(171, 171, 171, 0.16);
}

.nav .bottom {
  padding: 0 2%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav .bottom a {
  display: inline-block;
  margin-top: 18px;
}

.nav .bottom span {
  font-size: 3.375rem;
  color: #000;
  line-height: 1.2;
  text-align: center;
}

.fiexs {
  width: 100%;
  height: 150px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.fiexs .left span {
  font-size: 2.25rem;
  color: #999999;
  line-height: 150px;
  margin-left: 40px;
}

.fiexs .right {
  line-height: 150px;
}

.fiexs .right span {
  display: inline-block;
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-right: 30px;
  font-size: 2.25rem;
}

.fiexs .right span:first-child {
  color: #ff9326;
  border: 1px solid #ff9326;
}

.fiexs .right span:last-child {
  color: white;
  background: #ff9326;
}

.purchase {
  padding: 20px 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: none;
  z-index: 999;
}

.purchase .colses {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.purchase .colses p {
  width: 30px;
  height: 50px;
  line-height: 50px;
}

.purchase .product-name {
  padding: 40px 0;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #999;
}

.purchase .product-name .left {
  margin-left: 50px;
}

.purchase .product-name .right {
  margin-left: 50px;
}

.purchase .product-name .right p {
  width: 90%;
  font-size: 2rem;
  color: black;
  line-height: 1.5;
}

.purchase .product-name .right strong {
  display: block;
  font-size: 2.8125rem;
  color: #ff3333;
  line-height: 100px;
}

.purchase .product-name .right span {
  font-size: 1.875rem;
  color: #999999;
  line-height: 1.2;
}

.purchase .specification {
  padding: 40px 30px;
  margin-top: 20px;
  border-bottom: 1px solid #999;
}

.purchase .specification p {
  font-size: 2.625rem;
  color: #333333;
  line-height: 1.5;
}

.purchase .specification span {
  display: inline-block;
  width: 170px;
  height: 70px;
  font-size: 2.25rem;
  margin-top: 50px;
  line-height: 70px;
  text-align: center;
  border-radius: 5px;
}

.purchase .specification span:nth-child(2) {
  border: 1px solid sandybrown;
  color: #ff3333;
}

.purchase .specification span:nth-child(3) {
  color: #666666;
  background: #dddddd;
  border: 1px solid #dddddd;
  margin-left: 50px;
}

.purchase .quantity {
  margin-top: 30px;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}

.purchase .quantity .left p {
  font-size: 2.625rem;
  color: #333333;
  line-height: 1.5;
}

.purchase .quantity .right table,
.purchase .quantity .right th,
.purchase .quantity .right td {
  border: 1px solid #999;
  border-collapse: collapse;
}

.purchase .quantity .right th {
  width: 80px;
  height: 72px;
  font-size: 2.25rem;
  color: #9e9e9e;
  line-height: 1.2;
}

.purchase .confirm {
  padding-bottom: 50px;
  margin-top: 100px;
  padding: 0 40px;
}

.purchase .confirm button {
  width: 100%;
  height: 140px;
  border: none;
  outline: none;
  background: #ff9326;
  font-size: 3.375rem;
  color: white;
  border-radius: 10px;
}

.share {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 100;
  display: none;
}

.share p {
  width: 100%;
  text-align: center;
  font-size: 2.25rem;
  line-height: 40px;
  color: black;
}

.share .share-to {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.share .share-to .box {
  width: 160px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 10px 30px 70px 30px;
}

.main .slideshow {
  position: relative;
}

.main .slideshow img {
  width: 100%;
  height: 656px;
}

.main .slideshow .dot {
  position: absolute;
  left: 50%;
  top: 84%;
  transform: translateX(-50%);
}

.main .slideshow .dot li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #666666;
  border-radius: 50%;
}

.main .slideshow .dot li:nth-child(2),
.main .slideshow .dot li:nth-child(3),
.main .slideshow .dot li:nth-child(4) {
  margin-left: 20px;
}

.main .slideshow .dot .addition {
  background: #000000;
}

.main .commodity {
  padding: 20px 30px;
}

.main .commodity .price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main .commodity .price .prices span {
  line-height: 1.2;
  font-size: 2.8125rem;
  color: #ff3333;
}

.main .commodity .price .prices del {
  font-size: 1.875rem;
  color: #999999;
}

.main .commodity .price .count-down {
  display: flex;
  justify-content: space-between;
}

.main .commodity .price .count-down .left span {
  font-size: 1.875rem;
  color: #ff3333;
  line-height: 60px;
}

.main .commodity .price .count-down .right {
  margin-right: 5px;
}

.main .commodity .price .count-down .right span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  background: #ff3333;
  border-radius: 5px;
  color: #fff;
}

.main .commodity .price .count-down .right strong {
  display: inline-block;
  line-height: 60px;
  font-size: 1.875rem;
  width: 30px;
  height: 30px;
  color: #ff3333;
  text-align: center;
}

.main .commodity .product-name {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #e3e3e3 1px solid;
}

.main .commodity .product-name p {
  width: 86%;
  font-size: 2.25rem;
  color: black;
  line-height: 1.5;
}

.main .commodity .product-name span {
  display: inline-block;
  width: 124px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  background-color: #ff3333;
  box-shadow: 0px 5px 8px 0px rgba(161, 0, 0, 0.19);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fefefe;
  font-size: 1.875rem;
}

.main .commodity .expressage {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #e3e3e3 1px solid;
}

.main .commodity .expressage .left span,
.main .commodity .expressage .right span {
  font-size: 1.875rem;
  color: #999999;
}

.main .commodity .select {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #e3e3e3 1px solid;
}

.main .commodity .select strong {
  font-size: 1.875rem;
  color: #000;
  line-height: 24px;
}

.main .commodity .select span {
  font-size: 1.875rem;
  margin-left: 20px;
  color: #999999;
  line-height: 24px;
}

.main .commodity .merchandise {
  width: 100%;
  padding: 26px 0;
}

.main .commodity .merchandise p {
  font-size: 2.25rem;
  color: #000;
  line-height: 1.2;
  padding-left: 20px;
  border-left: 5px solid #ff9326;
}

.main .commodity .merchandise .list {
  display: flex;
  justify-content: flex-start;
}

.main .commodity .merchandise .list dl {
  margin-top: 30px;
}

.main .commodity .merchandise .list dl dd {
  font-size: 1.875rem;
  color: #666666;
  line-height: 2;
}

.main .commodity .merchandise .list dl dd span {
  font-size: 1.875rem;
  color: #333333;
  line-height: 1.2;
}

.main .commodity .merchandise .list dl:last-child {
  margin-left: 60px;
}

.main .commodity-details {
  width: 100%;
  padding: 30px 0;
  background: #fff;
  border-radius: 30px;
}

.main .commodity-details .titles {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .commodity-details .titles span {
  display: inline-block;
  width: 200px;
  font-size: 2.25rem;
  line-height: 1.2;
  color: black;
  text-align: center;
}

.main .commodity-details .titles img {
  vertical-align: middle;
}

.main .commodity-details .detail-page {
  padding: 30px 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .commodity-details .detail-page img {
  width: 100%;
}

.main .guess-you {
  width: 100%;
  margin-top: 30px;
  padding: 30px 0;
  background: #fff;
  border-radius: 30px;
}

.main .guess-you .titles-like {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .guess-you .titles-like span {
  display: inline-block;
  width: 150px;
  font-size: 24px;
  line-height: 1.2;
  color: black;
  text-align: center;
}

.main .guess-you .titles-like img {
  vertical-align: middle;
}

.main .guess-you .prudocts {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-auto-rows: 421px;
  grid-gap: 30px;
  justify-content: center;
}

.main .guess-you .prudocts .box .top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .guess-you .prudocts .box .top .introduct {
  position: absolute;
  left: 14%;
  bottom: 30px;
  width: 302px;
  padding: 20px 0 20px 20px;
  border-top: 1px solid #f0f0f0;
}

.main .guess-you .prudocts .box .top .introduct p {
  width: 90%;
  font-size: 20px;
  color: black;
  line-height: 1.2;
}

.main .guess-you .prudocts .box .top .introduct .examine {
  width: 90%;
  margin-top: 10px;
}

.main .guess-you .prudocts .box .top .introduct .examine span:first-child {
  font-size: 24px;
  color: #ff3333;
  line-height: 1.2;
}

.main .guess-you .prudocts .box .top .introduct .examine span:last-child {
  font-size: 20px;
  color: #999999;
  line-height: 1.2;
  margin-left: 36%;
}

.main .guess-you .prudocts .boxs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .guess-you .prudocts .boxs .boders {
  width: 332px;
  height: 412px;
  border: 1px solid #f9f9f9;
}

.main .guess-you .prudocts .boxs .boders .top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .guess-you .prudocts .boxs .boders .bottom {
  border-top: 1px solid #f0f0f0;
  margin-top: 30px;
}

.main .guess-you .prudocts .boxs .boders .bottom .introduct {
  margin-top: 20px;
  padding-left: 20px;
}

.main .guess-you .prudocts .boxs .boders .bottom .introduct p {
  width: 86%;
  font-size: 20px;
  color: black;
  line-height: 1.2;
}

.main .guess-you .prudocts .boxs .boders .bottom .introduct .examine {
  width: 90%;
  margin-top: 10px;
}

.main .guess-you .prudocts .boxs .boders .bottom .introduct .examine span:first-child {
  font-size: 24px;
  color: #ff3333;
  line-height: 1.2;
}

.main .guess-you .prudocts .boxs .boders .bottom .introduct .examine span:last-child {
  font-size: 20px;
  color: #999999;
  line-height: 1.2;
  margin-left: 36%;
}
